<header class="header">
        <a href="/" id="index-body">Weather</a>
        <a href="/about" id="about-body">About <span class="u-line">US</span></a>
        <a href="/help" id="help-body">FAQ</a>
  <h1>{{title}}</h1>
</header>