<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Present Weather</title>
    <link rel="stylesheet" href="css/style.css"></link>
    <link rel="icon" href="/img/favicon.ico">
</head>
<body>
    <div class="container">
      {{>header}}
      <p class="title-head">Our service provide {{name}}</p>

      <form action="">
        <p class="search_h">Find Your City And Monitor It In The Real Time!</p> <br>
        <input type="text" class="s-input">
        <button>Search</button>
      </form>

      <div class="content">
        <p id="_message1"></p>
        <p id="_message2"></p>
      </div>

      
    </div>
    {{>footer}}
    <script src="js/app.js"></script>
</body>
</html>