<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Present Weather</title>
    <link rel="stylesheet" href="css/style.css"></link>
    <link rel="icon" href="/img/favicon.ico">
</head>
<body>
    <div class="container">
      {{>header}}
      <p>Our service provide {{name}}</p>
    </div>
    {{>footer}}
    <script src="js/app.js"></script>
</body>
</html>

{{!-- "-e" --}}