@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/* font-family: 'Noto Sans', sans-serif;  */
/* font-family: 'Roboto', sans-serif; */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1a3940;
  overflow: hidden; /* Hide scrollbars */
  /* height: 1270px; */
  height: 100%;
}

#a-body {
  height: 100vh;
  background-image: url('../img/sun_rise.png');
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #321102;
}

#h-body {
  height: 100vh;
  background-image: url('../img/sun_set.png');
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #333146;
}

.header {
  display: block;
  margin: auto;

  margin-top: 60px;
  text-align: center;
  font-size: 25px;
  font-family: 'Noto Sans', sans-serif;
  font-style: Regular;
  letter-spacing: 6px;
  color: #fff;

  animation-name: moveInRight;
  animation-duration: 0.4s;
}

.header a {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid #222;
  padding: 5px;
  transition: 0.3s;
}

/*UNDERLINE-CURRENT-PAGE*/
#i-body .header #index-body {
  border-bottom: 1px solid #4caf50;
}
#h-body .header #help-body {
  border-bottom: 1px solid #4caf50;
}
#a-body .header #about-body {
  border-bottom: 1px solid #4caf50;
}
/**/

.header a:hover {
  border-bottom: 1px solid #4caf50;
}

.u-line {
  color: #4caf50;
}

/* FOOTER */

/* *** */

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translatey(20px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.container__content {
  background: rgba(34, 34, 34, 0.4);
  border-radius: 5px;
  padding: 7px;
}

.container__search-message {
  display: block;
  margin: 10px auto;

  width: 400px;
  font-size: 30px;
  font-family: 'Noto Sans', sans-serif;
  font-style: Regular;
  letter-spacing: 2px;
  color: #fff;
  text-align: center;

  animation-name: moveInLeft;
  animation-duration: 1.4s;
}

.container__input {
  display: block;
  margin: 55px auto;
  width: 300px;
  height: 30px;
  border-radius: 3px;

  border: 2px solid rgb(126, 126, 126);

  animation-name: moveInUp;
  animation-duration: 1.5s;
}

.container__button {
  display: block;
  margin: 0 auto;
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;

  font-size: 16px;
}

.container__content {
  display: block;
  margin: 40px auto;
  width: 800px;
  letter-spacing: 2px;

  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  width: 500px;
  text-align: center;
  border: 5px solid  rgba(126, 126, 126, 0.1);;
}

.header,
.container {
  position: relative;
  z-index: 1;
}

.bg_video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
